* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding: 33px 20px;
    border-bottom: 1px solid #F0F0F0;
}

.header .container {
    width: 1200px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 24px;
    margin-right: 330px;
}

.nav-list {
    display: flex;
    gap: 34px;
}

.nav-list__link {
    cursor: pointer;
    padding-bottom: 10px;
}

.nav-list__link:hover {
    border-bottom: 1px solid black;
}

.logo-img {
    margin-top: -10px;
}

.header-lang-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.header-lang-button:hover {
    scale: 1.05;
}

.header-sign-in-button {
    width: 157px;
    height: 50px;

    background: #4262FF;
    border: 1px solid #4262FF;
    border-radius: 24px;

    color: #fff;
    font-size: 16px;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-left: auto;
}

.header-sign-in-button:hover {
    background: #fff;
    border: 1px solid #4262FF;
    color: #4262FF;
}

.main-description {
    margin: 60px 0 150px;
    display: flex;
    justify-content: space-between;
}

.text-part {
    display: flex;
    flex-direction: column;
}

.text-part h2 {
    width: 285px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 1px;
    color: #050038;
    text-align: left;
}

.text-part h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #050038;
    width: 424px;
    margin-top: 20px;
}

.text-part form {
    display: flex;
    flex-direction: column;

    margin-top: 55px;
}

.text-part input {
    border: 1px solid #9B99AF;
    border-radius: 32px;
    outline: none;
    height: 48px;

    margin-bottom: 10px;
    text-align: center;
}

.text-part button {
    height: 48px;

    background: #4262FF;
    border: none;
    border-radius: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    transition: all 0.4s ease;
    cursor: pointer;
}

.text-part button:hover {
    background: #fff;
    border: 1px solid #4262FF;
    color: #4262FF;
}

.text-part p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;

    margin-top: 8px;
}

.links {
    margin-top: 52px;
    display: flex;
    gap: 20px;
}

.links span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #050038;
    display: flex;
    align-items: center;
}
